/** navigation bar customizations **/
.navbar-brand>img {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.header-content-inner>h1 {
    text-shadow: 1px 1px black;
    color: tomato;
}

/** fold out menu for mobile devices has a white background **/
div#bs-example-navbar-collapse-1.collapse.in {
    background-color: rgba(255, 255, 255, 0.5);
}

.affix-top {
    background-color: rgba(0, 0, 0, 0.2);
}

.affix-top img {
    filter: invert();
}