<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Bait App!</h2>
                <hr class="light">
                <p class="text-faded">
                    When you lock your computer and walk away, Bait will be keeping an eye out on your behalf. Whenever someone tries to unlock your computer, Bait will
                    create a snapshop of the person doing so and report back to you upon your return. Keep favourite snaps and configure where Bait should keep an eye
                    out.
                </p>
                <a href="https://itunes.apple.com/us/app/bait/id1207460654?ls=1&mt=8" class="btn btn-default btn-xl">Get Bait!</a>
            </div>
        </div>
    </div>
</section>
