<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><a name="#help"></a>Encountered an issue?</h2>
                <hr class="primary">
                <p>We are sorry to hear you encountered an issue. In order for us to help solve the issue, please report what exactly happened and what steps led up to the issue to surface.</p>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="https://github.com/4np/BaitApp/issues">
            <i class="fa fa-bug fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p/>
            </a>
        </div>
    </div>
</section>
