<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-eye wow bounceIn text-primary"></i>
                    <h3>Keep an eye out</h3>
                    <p class="text-muted">Bait will keep an eye out on your behalf, for free!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera-retro wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Keep Favourite Snaps</h3>
                    <p class="text-muted">Keep a collection of favorite snaps!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-ship wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Go Fishing</h3>
                    <p class="text-muted">Set bait to your lockscreen(s) and lure and capture mischievous coleagues!</p>  
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">We are passionately commited to deliver a great experience!</p>
                </div>
            </div>
        </div>
    </div>
</section>
