<section class="bg-primary" id="privacy-statement">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Privacy Statement</h2>
                <hr class="light">
                <p class="text-faded">
                The snaphots Bait creates or the wireless networks it registers are only used by the Bait Application and will <i>never</i> be
                shared with third parties. For the sole purpose of improving the stability and adding new features, Bait will gather some 
                anonymous metrics about the Application's usage and any problems it encounters.
                </p>
            </div>
        </div>
    </div>
</section>
