<section id="set-bait-iap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Set Bait</h2>
                <hr class="primary">
                <p>
                    Have you ever been "<i>Rick-Rolled</i>" or "<i>Hasselhoffed</i>" when leaving your computer unlocked while you stepped away? Bait will keep an eye out and watch your back for free.
                    Set Bait to your computer by making it <i>appear</i> unlocked while Bait hides in the background as a true papparazi to take some snaps of anybody feeling tempted to
                    fiddle around with your computer. Configure on which Wireless Networks Bait should run and/or try to lure people to touch your computer. Finally figure out what colleague keeps
                    Rick-Rolling you!
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-md wow bounceIn text-primary"></i>
                    <h3><i>Hasselhoffing</i></h3>
                    <p class="text-muted">
                        <i>[Noun] The act of changing a colleague's desktop wallpaper to display the manly physique of David Hasselhoff.</i>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bomb wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><i>Rick-Rolling</i></h3>
                    <p class="text-muted">
                        <i>[Noun] A prank involving an unexpected appearance of the music video for the 1987 Rick Astley song "<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_new">Never Gonna Give You Up</a>".</i>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Fake Lockscreen(s)</h3>
                    <p class="text-muted">Configure fake lockscreen(s) that make your computer <i>appear</i> unlocked.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-crosshairs wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Go Fishing</h3>
                    <p class="text-muted">Lure and capture mischievous coleagues!</p>  
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-check-square-o wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Alert</h3>
                    <p class="text-muted">Only Go Fishing at work? Or only on unknown networks? Configuration is a breeze!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hand-scissors-o wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Catch</h3>
                    <p class="text-muted">Find out who is tempted to touch your seemingly unlocked computer.</p>
                </div>
            </div>
        </div>
    </div>
</section>
